# Dependencies
node_modules/

# Environment (민감 정보 포함)
.env
.env.local
.env.*.local

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
